Repository openCoreEMR/oce-module-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^composer\.lock$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    args:
    - --unsafe # Allow custom tags like !override in compose.yml
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-json
  - id: pretty-format-json
    args:
    - --autofix
    - --indent=2
    - --no-sort-keys
    exclude: ^composer\.json$
  - id: mixed-line-ending
    args:
    - --fix=lf

- repo: https://github.com/google/yamlfmt
  rev: v0.21.0
  hooks:
  - id: yamlfmt

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.10
  hooks:
  - id: actionlint

- repo: https://github.com/hadolint/hadolint
  rev: v2.12.0
  hooks:
  - id: hadolint-docker

- repo: https://github.com/docker-compose-linter/pre-commit-dclint
  rev: v3.1.0
  hooks:
  - id: dclint

- repo: local
  hooks:
  - id: php-syntax-check
    name: PHP Syntax Check
    entry: php -l
    language: system
    types:
    - php

  - id: composer-validate
    name: Validate composer.json
    entry: composer validate --strict
    language: system
    files: ^composer\.json$
    pass_filenames: false

  - id: composer-normalize
    name: Normalize composer.json
    entry: composer normalize
    language: system
    files: ^composer\.json$
    pass_filenames: false

  - id: phpcbf
    name: PHP Code Beautifier and Fixer
    entry: composer run-script phpcbf
    language: system
    types:
    - php
    pass_filenames: false

  - id: phpcs
    name: PHP_CodeSniffer
    entry: composer run-script phpcs
    language: system
    types:
    - php
    pass_filenames: false

  - id: phpstan
    name: PHPStan Static Analysis
    entry: composer run-script phpstan
    language: system
    types:
    - php
    pass_filenames: false

  - id: rector
    name: Rector
    entry: composer run-script rector-fix
    language: system
    types:
    - php
    pass_filenames: false

  - id: composer-require-checker
    name: Composer Require Checker
    entry: composer run-script require-checker
    language: system
    files: ^(composer\.json|src/.+\.php)$
    pass_filenames: false

feat: add configuration abstraction layer
  src/ConfigAccessorInterface.php
  src/ConfigFactory.php
  src/EnvironmentConfigAccessor.php
  src/GlobalConfig.php
  src/GlobalsAccessor.php
Due: composer-require-checker

feat: add sample controller and templates
  public/index.php
  src/Controller/ExampleController.php
  templates/example/list.html.twig
  templates/example/view.html.twig
Due: composer-require-checker

feat: add module access guard
  src/ModuleAccessGuard.php
Due: composer-require-checker

chore: remove placeholder gitkeep files
  public/.gitkeep
  templates/.gitkeep
Due: none

feat: add exception hierarchy
  src/Exception/{ModuleName}AccessDeniedException.php
  src/Exception/{ModuleName}ApiException.php
  src/Exception/{ModuleName}ConfigurationException.php
  src/Exception/{ModuleName}Exception.php
  src/Exception/{ModuleName}ExceptionInterface.php
  src/Exception/{ModuleName}NotFoundException.php
  src/Exception/{ModuleName}UnauthorizedException.php
  src/Exception/{ModuleName}ValidationException.php
Due: composer-require-checker

test: add configuration accessor mock classes
  tests/Mocks/MockEnvironmentConfigAccessor.php
  tests/Mocks/MockGlobalsAccessor.php
  tests/bootstrap.php
Due: none

docs: document configuration abstraction layer and patterns
  CLAUDE.md
Due: none

feat: update Bootstrap with configuration factory pattern
  src/Bootstrap.php
Due: composer-require-checker

chore: update copyright dates to 2026
  DEVELOPMENT.md
  LICENSE
  openemr.bootstrap.php
  src/Command/SetupCommand.php
  version.php
Due: composer-require-checker

refactor: decouple controller from superglobals
  public/index.php
  src/Controller/ExampleController.php
Due: composer-require-checker

feat: add HttpExceptionInterface for HTTP-aware exceptions
  src/Exception/{ModuleName}Exception.php
  src/Exception/{ModuleName}ExceptionInterface.php
  src/Exception/{ModuleName}HttpExceptionInterface.php
Due: composer-require-checker

refactor: standardize namespace to OpenCoreEMR
  openemr.bootstrap.php
  src/ConfigFactory.php
  src/Console/Command/AbstractModuleCommand.php
  src/Console/Command/ModuleDisableCommand.php
  src/Console/Command/ModuleEnableCommand.php
  src/Console/Command/ModuleInstallCommand.php
  src/Console/Command/ModuleInstallEnableCommand.php
  src/Console/Command/ModuleListCommand.php
  src/Console/Command/ModuleRegisterCommand.php
  src/Console/Command/ModuleUnregisterCommand.php
  src/Console/ModuleInstaller.php
  src/Exception/{ModuleName}AccessDeniedException.php
  src/Exception/{ModuleName}ApiException.php
  src/Exception/{ModuleName}ConfigurationException.php
  src/Exception/{ModuleName}NotFoundException.php
  src/Exception/{ModuleName}UnauthorizedException.php
  src/Exception/{ModuleName}ValidationException.php
  src/GlobalConfig.php
  src/ModuleAccessGuard.php
  tests/Mocks/MockEnvironmentConfigAccessor.php
  tests/Mocks/MockGlobalsAccessor.php
Due: composer-require-checker

fix: move script tags to head with defer attribute
  templates/example/list.html.twig
  templates/example/view.html.twig
Due: none

feat: add getKernel to ConfigAccessorInterface
  src/ConfigAccessorInterface.php
  src/EnvironmentConfigAccessor.php
  src/GlobalsAccessor.php
Due: composer-require-checker

feat: add AuthAdapter for OAuth/session compatibility
  src/AuthAdapter.php
Due: composer-require-checker

feat: add REST API route registration to Bootstrap
  src/Bootstrap.php
Due: composer-require-checker

feat: add Docker development environment
  docker/.env.dist
  docker/.gitignore
  docker/docker-compose.yml
  docker/scripts/enable-module.sh
Due: none

style: fix yaml formatting in docker-compose.yml
  docker/docker-compose.yml
Due: none

fix: multiple changes after review
  CLAUDE.md
  public/index.php
  src/Bootstrap.php
  src/Controller/ExampleController.php
  src/EnvironmentConfigAccessor.php
  src/GlobalConfig.php
  templates/error.html.twig
Due: composer-require-checker

fix(template): follow-up review – empty(), error response reuse, POST-only create
  public/index.php
  src/Bootstrap.php
  src/Controller/ExampleController.php
Due: composer-require-checker

docs(template): validation and security checklist polish
  CLAUDE.md
  src/Controller/ExampleController.php
Due: composer-require-checker

fix: claude and ExampleController comments
  CLAUDE.md
  src/Controller/ExampleController.php
Due: composer-require-checker

docs: emphasize mandatory use of config abstraction layer
  CLAUDE.md
Due: none

docs: add taskfile workflow and CI check documentation
  CLAUDE.md
Due: none

docs: emphasize mandatory use of config abstraction layer (#7)
  CLAUDE.md
Due: none

docs: add taskfile workflow and CI check documentation (#8)
  CLAUDE.md
Due: none

docs: add taskfile workflow and CI check documentation (#9)
  CLAUDE.md
Due: none

docs: add info.txt requirement and release please versioning docs
  CLAUDE.md
  info.txt
Due: none

docs: add critical rules for handling check errors and warnings
  CLAUDE.md
Due: none

docs: add info.txt and error handling rules for AI agents (#10)
  CLAUDE.md
  info.txt
Due: none

chore(docker): disable telemetry in dev environment
  compose.yml
Due: none

chore(docker): disable telemetry in dev environment (#13)
  compose.yml
Due: none

feat: add YAML file-based configuration support
  CLAUDE.md
  GETTING_STARTED.md
  composer.json
  src/Bootstrap.php
  src/ConfigFactory.php
  src/FileConfigAccessor.php
  src/GlobalConfig.php
  src/YamlConfigLoader.php
Due: composer-validate, composer-normalize, composer-require-checker

feat: add YAML file-based configuration support (#12)
  CLAUDE.md
  GETTING_STARTED.md
  composer.json
  src/Bootstrap.php
  src/ConfigFactory.php
  src/FileConfigAccessor.php
  src/GlobalConfig.php
  src/YamlConfigLoader.php
Due: composer-validate, composer-normalize, composer-require-checker

feat: add SecretManagerAccessor for GKE deployments
  .composer-require-checker.json
  CLAUDE.md
  composer.json
  src/ConfigFactory.php
  src/SecretManagerAccessor.php
Due: composer-validate, composer-normalize, composer-require-checker

ci: migrate to reusable release-please workflow
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

ci: migrate to reusable release-please workflow (#21)
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

ci: grant conventional-pr-title workflow pull-requests:read
  .github/workflows/conventional-pr-title.yml
Due: none
