Repository openCoreEMR/oce-module-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

ci: grant conventional-pr-title workflow pull-requests:read (#22)
  .github/workflows/conventional-pr-title.yml
Due: none

fix: move openemr/openemr out of root composer.json into tools/openemr
  .github/workflows/phpstan.yml
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  Taskfile.yml
  bin/precommit-template-guard.sh
  compose.yml
  composer.json
  phpstan.neon
  src/Console/Command/AbstractModuleCommand.php
  tools/openemr/.gitignore
  tools/openemr/README.md
  tools/openemr/composer.json
Due: composer-validate, composer-normalize, composer-require-checker

fix: move openemr/openemr out of root composer.json into tools/openemr (#23)
  .github/workflows/phpstan.yml
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  Taskfile.yml
  bin/precommit-template-guard.sh
  compose.yml
  composer.json
  phpstan.neon
  src/Console/Command/AbstractModuleCommand.php
  tools/openemr/.gitignore
  tools/openemr/README.md
  tools/openemr/composer.json
Due: composer-validate, composer-normalize, composer-require-checker

ci: migrate to reusable PHP CI workflows
  .github/workflows/actionlint.yml
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/tests.yml
Due: none

ci: add paths filters to caller workflows
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/tests.yml
Due: none

ci: migrate to reusable PHP CI workflows (#25)
  .github/workflows/actionlint.yml
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/tests.yml
Due: none

ci: invoke require-checker via composer script
  .github/workflows/composer-require-checker.yml
Due: none

ci: broaden paths filters that were too narrow
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/tests.yml
Due: none

ci: bump reusable workflows pin to 0.0.4
  .github/workflows/actionlint.yml
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/tests.yml
Due: none

ci: invoke require-checker via composer script (#26)
  .github/workflows/actionlint.yml
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/tests.yml
Due: none

ci(deps): ignore symfony 8 until openemr moves
  .github/dependabot.yml
Due: none

ci(deps): ignore symfony 8 until openemr moves (#27)
  .github/dependabot.yml
Due: none

ci: drop pull_request.paths for required-check safety
  .github/workflows/actionlint.yml
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
Due: none

ci: drop pull_request.paths for required-check safety (#28)
  .github/workflows/actionlint.yml
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
Due: none

chore: smoke-test required checks + auto-merge
  README.md
Due: none

chore: smoke-test required checks + auto-merge (#29)
  README.md
Due: none

ci: grant `pull-requests: read` to conventional-pr-title caller
  .github/workflows/conventional-pr-title.yml
Due: none

ci: grant `pull-requests: read` to conventional-pr-title caller (#35)
  .github/workflows/conventional-pr-title.yml
Due: none

chore(ci): scope dependabot prefixes so release-please skips non-runtime updates
  .github/dependabot.yml
Due: none

chore(ci): scope dependabot prefixes so release-please skips non-runtime updates (#42)
  .github/dependabot.yml
Due: none

ci(release-please): pin reusable @1.0.0 and use `secrets: inherit`
  .github/workflows/release-please.yml
Due: none

ci(release-please): pin reusable @1.0.0 and use `secrets: inherit` (#45)
  .github/workflows/release-please.yml
Due: none

chore(ci): group reusable workflow Dependabot updates
  .github/dependabot.yml
Due: none

chore(ci): normalize org casing and tighten group patterns
  .github/dependabot.yml
  .github/workflows/release-please.yml
Due: none

chore(ci): group reusable workflow Dependabot updates (#51)
  .github/dependabot.yml
  .github/workflows/release-please.yml
Due: none

fix: export-ignore tests/ and namespace global Document mock (#129)
  .gitattributes
  phpstan.neon
  tests/Mocks/MockDocument.php
  tests/bootstrap.php
Due: none

chore: export-ignore additional dev-only paths (#129)
  .gitattributes
Due: none

chore: stop gitignoring composer.lock so generated modules track it
  .gitignore
Due: none

chore: standardize dev tooling and CI on PHP 8.5
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/tests.yml
  Dockerfile.test
  composer.json
  phpcs.xml
  phpstan.neon
  rector.php
Due: composer-validate, composer-normalize, composer-require-checker

chore: stop gitignoring composer.lock so generated modules track it (#55)
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/tests.yml
  .gitignore
  Dockerfile.test
  composer.json
  phpcs.xml
  phpstan.neon
  rector.php
Due: composer-validate, composer-normalize, composer-require-checker

fix(bootstrap): resolve Kernel projectDir throw on oce-810
  src/Bootstrap.php
Due: composer-require-checker

fix(bootstrap): resolve Kernel projectDir throw on oce-810 (#56)
  src/Bootstrap.php
Due: composer-require-checker

fix(csrf): pass SessionInterface to CsrfUtils for oce-810
  .composer-require-checker.json
  .github/workflows/phpstan.yml
  CLAUDE.md
  public/index.php
  src/Bootstrap.php
  src/Controller/ExampleController.php
  tests/Mocks/MockCsrfUtils.php
  tools/openemr/composer.json
Due: composer-require-checker

fix(csrf): repoint tools/openemr harness to public upstream rel-810
  .github/workflows/phpstan.yml
  tools/openemr/composer.json
Due: none

fix(csrf): pass SessionInterface to CsrfUtils for oce-810 (#58)
  .composer-require-checker.json
  CLAUDE.md
  public/index.php
  src/Bootstrap.php
  src/Controller/ExampleController.php
  tests/Mocks/MockCsrfUtils.php
  tools/openemr/composer.json
Due: composer-require-checker

fix: export-ignore tests/ and namespace global Document mock (#129) (#53)
  .gitattributes
  phpstan.neon
  tests/Mocks/MockDocument.php
  tests/bootstrap.php
Due: none

ci: run actionlint from the OCE fork with corrected action metadata
  .pre-commit-config.yaml
Due: none

ci: run actionlint from the OCE fork with corrected action metadata (#59)
  .pre-commit-config.yaml
Due: none

ci(dependabot): update openCoreEMR packages without the release cooldown
  .github/dependabot.yml
Due: none

ci(dependabot): update openCoreEMR packages without the release cooldown (#63)
  .github/dependabot.yml
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: ^composer\.lock$
  composer-normalize: any of: ^composer\.json$, but not: ^composer\.lock$
  composer-require-checker: any of: ^(composer\.json|src/.+\.php)$, but not: ^composer\.lock$
